@import url('helper.css');
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.content {
  margin-top: 100px;
}

/* navbar */
.navbar {
  background-color: rgba(0, 150, 136, 0.66) !important;
}

.navbar a{
  color: white !important;
}
.nav>li>a:focus, .nav>li>a:hover{
  background-color: #6CD8CD !important;
}

/* content CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.content .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.content h2 {
  font-weight: normal;
}
.content .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* books
------------------------- */

.book-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .book-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .book-heading {
    margin-top: 20px;
  }
}

/* ====  quote ====== */
.quote {
  margin-bottom: 100px;
}

h4 a{
  color: #009688;
  
}
h4 a:focus, h4 a:hover{
  color: #77777B;
}

/** Custom Forms style **/
.ng-valid .ng-dirty{
  border-color: green;
}
.ng-invalid .ng-dirty{
  border-color: red;
}
