<div class="row book">
  <div class="col-md-7">
    <h2 class="book-heading">Book Title</h2>
    <p>By <span class="text-muted"><b>Nouran Mahmoud</b></span><p>
    <p class="lead">DesDonec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  
  <button type='button' class="btn btn-danger">Delete</button>
  <button type='button' class="btn btn-success">Edit</button>
  </div>
  <div class="col-md-5">
    <img class="book-image img-responsive center-block" src="images/book1.jpg" alt="Generic placeholder image">
  </div>
</div>